<div style="padding:0px 50px;">
Ryuk is a ransomware designed to target enterprise environments that has been used in attacks since at least 2018. Ryuk shares code similarities with Hermes ransomware.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>