<div style="padding:0px 50px;">
Maze is a ransomware which was discovered in May 2019 as it was dropped by Fallout Exploit Kit at the time. The one thing that made this ransomware different is that it would detect the type of computer which it compromised and would set ransom accordingly. Higher ransoms would be reserved for server types of victims. The operators behind Maze Ransomware are the piooners of double exortion of their victims. They threathen their victims to use sensitive information to conduct malicious campaigns and release confidential data to the public if the ransom is not payed. To prove their point the operators behind Maze ransomware have a dedicated site where they list the identities of the victims and samples of data of those, that didn't comply with their demands.



<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>