<div style="padding:0px 50px;">
TA551 (also known as Shathak) is an email-based malware distribution campaign that often targets English-speaking victims. The campaign discussed in this blog has targeted German-, Italian- and Japanese-based speakers. TA551 has historically pushed different families of malware like Ursnif and Valak. After mid-July 2020, this campaign has exclusively pushed IcedID malware.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>