<div style="padding:0px 50px;">
Reaper is a suspected North Korean cyber espionage group that has targeted primarily South Korean government, military, defense industrial base, and media sector. In 2017 the group started to target other countries that includes Japan, Vietnam, Nepal, Kuwait, and parts of the Middle East. With their expansion of targets their industry targets expanded as well. 

Reaper tends to use primarily spear phishing tactics for malware delivery but, this threat group also compromise strategic websites, and use torrent file sharing to distribute their malware.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>