<div style="padding:0px 50px;">
DarkHydrus is a threat group targetting government agencies and educational institutions in the Middle East. Unit 42 believes that this adversary group has been in operation since at least 2016. This group prefers to use spear-phishing emails with weaponized Microsoft Office documents for delivery and has a propensity to use off the shelf tools, such as Meterpreter, Mimikatz, PowerShellEmpire, Veil, and CobaltStrike. This group has also been seen using custom payloads as well, such as their PowerShell based payload called RogueRobin.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>