<div style="padding:0px 50px;">
WastedLocker is another post-intrusion ransomware of the same variety as Samsa, Maze, EKANS, Ryuk, BitPaymer, and others. It differs from the large volume, victim-agnostic and commodity ransomware by targeting an organisation, successfully breaching it, and then deploying ransomware to as many systems at the same time as possible, in order to maximise impact and the chance of receiving a much larger ransom payment.

<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>