<div style="padding:0px 50px;">
In March 2, 2021 Volexity reported in-the-wild-exploitation of multiple Microsoft Exchanges Vulnerabilities: CVE-2021-26855, CVE-2021-26857, CVE-2021-26858, and CVE-2021-27065.
As a result of these vulnerabilities being exploited adversaries can access Exchange Servers, and allow installation of additional tools to facilitate, long term access into victims environments. Multiple groups have used the initial exploit method, ,meaning post-exploitation activity may vary.
These vulnerabilities affect Microsoft Exchange servers versions: Microsoft Exchange 2013, 2016, 2019
Microsoft has released an emergency security update to patch these vulnerabilities. We strongly advise to update all Microsoft Exchange servers to the latest available update by Microsoft immediately.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>