<div style="padding:0px 50px;">
Patchwork (AKA Monsoon, Dropping Elephant, and Chinastrats) is a threat group observed since at least December 2015 targeting various industries and government organizations or related entities in the Middle East, South Asia nations, Europe, South Korea, the United States, and others.

Patchwork conducts reconnaissance on their target copying news stories or documents that are of interest and delivers them via targeted spear-phishing campaigns as an attachment or providing a link to an external domain. These documents exploit known vulnerabilities within various desktop applications and subsequently drop malware onto the victim host.

Patchwork is believed to be operating within the Indian subcontinent based on infrastructure logins within that region.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>