<div style="padding:0px 50px;">
Unit 42 created the moniker PKPLUG to reference a threat actor group or groups, we have been tracking for the past few years. The name comes from the use of PlugX malware, which we noted the adversary using in their early campaigns, and from the use of ZIP archive files used to deliver the malware; the ZIP file format contains the ASCII magic-bytes “PK” in its header.

Over the years Unit 42 has discovered additional, mostly custom, malware families being used by PKPLUG, including an Android app and a Windows backdoor described briefly in this report. Other “usual suspect” malware has also been seen in relation to PKPLUG activity, including Poison Ivy, Zupdax and 9002.

Based on targeting, content in some of the malware, and ties to infrastructure previously documented publically as being linked to Chinese nation-state adversaries, Unit 42 believes with high confidence that PKPLUG has similar origins.

Based on related research PKPLUG seems to have been active for several years.


<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>