<div style="padding:0px 50px;">
menuPass is a threat group whose members the US Department of Justice state operate from China as employees of the Tianjin-based Huaying Haitai Science and Technology Development Company in coordination with the Ministry of State Security's Tianjin State Security Bureau. The group has been active since approximately 2006 and has targeted healthcare, defense, aerospace, and government sectors around the world, and has targeted Japanese victims since at least 2014. In 2016 and 2017, the group targeted managed IT service providers, manufacturing and mining companies, and a university.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>