<div style="padding:0px 50px;">
EKANS Ransomware is written in GoLang, upon infection, revelvant files are overwritten with encrypted data. Each file has a string of EKANS (Snake backwards) in the end of the file.

The ransomware uses aAES-256 and RSA-2048 for encryption. Like many ransomwares the malware excludes critical system files from encryption, and even attempts to compromise network resources. Snake also has the capability of terminating numerous process related with SCADA platforms and enterprise enviorments.

If successful the ransom note will be written to "C:\Users\Public\Desktop\Fix-Your-Files.txt"

References:
https://twitter.com/VK_Intel/status/1215196590165647360
https://www.carbonblack.com/2020/01/27/threat-analysis-unit-tau-threat-intelligence-notification-snake-ransomware/
https://insights.sei.cmu.edu/cert/2020/03/snake-ransomware-analysis-updates.html
https://nakedsecurity.sophos.com/2020/01/13/snake-alert-this-ransomware-is-not-a-game/
https://www.dragos.com/blog/industry-news/ekans-ransomware-and-ics-operations/
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>