<div style="padding:0px 50px;">
Dubbed "Operation Hangover" by Norman because of the use of the word "hangover" in a text string that was included in many of the malware samples researchers studied, the campaign has two objectives: Retrieve national-security information that could be relevant to India and engage in industrial espionage.

At the time of the initial report from Norman Security this activity was alleged to be the work of Appin Security, a contractor working out of India - a company which today doesn't exist anymore. Despite the fact that Appin are no longer in business subsequent attacks have been linked to the HANGOVER actor through code re-use.

http://enterprise-manage.norman.c.bitbit.net/resources/files/Unveiling_an_Indian_Cyberattack_Infrastructure.pdf OPERATION HANGOVER, Unveiling an Indian Cyberattack Infrastructure
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>