<div style="padding:0px 50px;">
Egregor is a ransomware from the Sekhment malware family that has been active since september. This ransomware group prioritizes stealing data to use as additional extortion when files are encrypted. Egregor contains anti-analysis techniques such as code obfuscation and packed payloads .Also, in one of the execution stages, the Egregor payload can only be decrypted if the correct key is provided in the process' command line, meaning that the file cannot be analyzed, either manually or using a sandbox, if the correct key is not provided.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>