<div style="padding:0px 50px;">
KONNI is a threat group operating in East Asia. This group is known for using spear-phishing attacks with documents related to North Korea, but lately, documents related to cryptocurrency also have been observed. KONNI is also the name of their custom RAT which leverages anti-analysis techniques and intelligence gathering features. 


<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>