<div style="padding:0px 50px;">
Beginning in mid-July 2018 and continuing through December 2019, unknown operators were observed targeting Kuwaiti government organizations as well as the Kuwaiti Shipping and Transportation industry. Two distinct campaigns were observed during this timeframe, both with overlapping tool development and infrastructure. The developer of the collected tools used character names from the anime series Hunter x Hunter, which is the basis for the campaign name “xHunt.” The names of the tools collected include backdoor tools Sakabota, Hisoka, Netero, Killua, and Gon. 
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>