<div style="padding:0px 50px;">
TeamTnT is a group known to target credentials files on compromised cloud enviroments in order to  hijack the compromised system's resources to mine the Monero (XMR) cryptocurrency.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>