<div style="padding:0px 50px;">
SolarStorm is a highly skilled threat actor, with significant operational security mindset and has targeted supply chains during their attack on SolarWinds Orion IT performance and statistics monitoring software. 
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>