<div style="padding:0px 50px;">
CozyDuke is threat group that has been attributed to the Russian government and has operated since at least 2008.  This group reportedly compromised the Democratic National Committee starting in the summer of 2015.


<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>