<div style="padding:0px 50px;">
Emissary Panda (AKA, APT27, TG-3390, Bronze Union, Lucky Mouse) a Chinese threat group that has extensively used strategic Web compromises to target victims. The group has been active since at least 2010 and has targeted organizations in the aerospace, government, defense, technology, energy, and manufacturing sectors. As well as targeted attacks against other miscellaneous organizations around the world.

In 2015 and 2016 they continued to use known backdoors associated with them previously, including OwaShell & Wonknu. In 2017 & 2018 they have been notable for their targeting of Turkish organizations, and their use of older backdoors such as ZxShell and Gh0st.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>