<div style="padding:0px 50px;">
 
Rocke group is a Chinese threat actor who specializes in ransomware and cryptojacking operations within cloud environments. This group is known for using the computing power of compromised Linux-based systems, typically hosted within Cloud infrastructure. Rocke was originally identified in 2016 and was called Iron Group, they primarily focused on ransomware operations with the use of their Iron Ransomware toolset and the backdoor malware IronStealer. In May of 2018 they developed BotNet capabilities through the use of their XBash toolset. In August of 2018, they evolved their operations again by adding the capability to disable and remove Cloud Security tools from compromised cloud systems. In February of 2019, they added a new tool to their playbook which allows for Proxy, Shell, and Lua script capabilities.

Rocke is a cloud-focused Chinese Cyber Crime group who have quickly and effectively elevated their cyber skills and tools to compromise more cloud systems, as well as embed and remain hidden within these systems. In August of 2019, they were reported to have compromised 28.1% of organizations with cloud infrastructure.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>