<div style="padding:0px 50px;">
RANCOR is a threat actor behind two campaigns of attacks in South East Asia researched by Unit42 in mid-2018.

The RANCOR attackers are notable for repeated use of plugin based malware architectures where the malware downloads functionality in the form of plugins or modules. Malware families observed in use in this campaign include: PlainTee and DDKong

The attackers may also be behind a previous campaign targeting Cambodia using KHRAT.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>