<div style="padding:0px 50px;">
BlackTech is a cyber espionage group operating against targets in East Asia, particularly Taiwan, and occasionally, Japan and Hong Kong. Based on the mutexes and domain names of some of their C&C servers, BlackTech's campaigns are likely designed to steal their target's technology.In July 2018, the group was found using certificates stolen from Taiwanese tech-companies as part of a campaign involving the use of the Plead malware family.At the end of April 2019, variants of the Plead backdoor were discovered that were executed by a legitimate process named AsusWSPanel.exe. This process belongs to the Windows client for a cloud storage service called ASUS WebStorage. The binaries were also digitally signed by ASUS Cloud Corporation.The other noteworthy feature of these variants was the use of man-in-the-middle attacks against compromised routers as delivery method for the backdoors.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>