<div style="padding:0px 50px;">
WINDSHIFT threat actor group that mainly pursue Middle Easter goverment targets. Initially debuted by DarkMatter. 

This group instead of attacking enterprise as a whole they target individuals, with years of recon and trust building relationship. 
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>