<div style="padding:0px 50px;">
Threat Group focusing on Energy, Chemical Industry, Healthcare and Pharma industries. Nitro is known for targeted spear phishing campaigns and using Poison Ivy malware. 
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>