<div style="padding:0px 50px;">
When the news broke in 2014 about a new sophisticated threat actor dubbed Turla, its kernelmode malware became also the first publicly described case which abuses a 3rd party device driver to disable Driver Signature Enforcement (DSE). This security mechanism was introduced in Windows Vista to prevent unsigned drivers from loading into kernel space. Turla exploited the signed VirtualBox driver VBoxDrv.sys v1.6.2 to deactivate DSE and load its unsigned payload drivers afterwards. According to the Estonian foreign intelligence service, Turla is believed to have Russian origins and operates on behalf of the FSB.

There is some confusion about this exploit as it’s often generally referred to as CVE-2008-3431. Actually, the exploit used by Turla abuses two vulnerabilities of which only one was fixed in the aforementioned CVE. The other vulnerability was found by Turla authors and is used in the first version of their exploit along with CVE-2008-3431. The second version of their exploit, presumably introduced in 2014 of their kernelmode malware, only uses the unpatched vulnerability which we will discuss in more detail later.

This unpatched vulnerability can be exploited not only in VirtualBox VBoxDrv.sys driver v1.6.2, but also in all other versions smaller v3.0.0. This was also discovered by a yet unknown threat actor which targeted at least two different Russian organizations in 2017. The actors used a previously unknown malware family we have dubbed AcidBox - with the first part being an anagram of the malware’s driver device name and the second part taken from VirtualBox. Because of the malware’s complexity, its rarity and the fact that it’s part of a bigger toolset, we believe it is used by an advanced threat actor for targeted attacks.

AcidBox is a complex modular toolkit of which we have only some components. The toolkit consists of 64-bit usermode DLL files - one type of which appears to be an orchestrator containing the vulnerable VirtualBox driver and the AcidBox kernelmode component embedded. The VirtualBox driver is dropped to disk, loaded, and exploited in order to load the unsigned malware driver.

How the orchestrator DLL is loaded remains unknown, we only know that a passed parameter is checked by the DLL and it wont execute properly without it. The orchestrator and the other DLL modules also depend on registry keys to be present on the system in order to fully execute. These registry paths are present as encrypted strings in the resource sections and must be created by an unknown file or dropper at an earlier stage. The registry values contain encrypted data blobs that contain additional modules to be injected into a given process as well as additional data.
<br /> <br />
This report is a series of validation checks against your Palo Alto Networks NGFW config to help you identify your security posture against the tools used by this adversary
</div>